<div class="all">

    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Youtube Clone</h5>
            <p class="card-text fs-5">
              Created a YouTube clone to implement my knowledge in React.
            </p>
            <button (click)="onReadMore()" class="btn btn-danger">Read More..</button>
          </div>
        </div>
      </div>



      <div class="col-sm-6 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Library Management System</h5>
            <p class="card-text fs-5">
              Created a project to avoid manual work in the library. All the work is automated using the latest technologies.
            </p>
            <button (click)="onReadMore()" class="btn btn-danger">Read More..</button>
          </div>
        </div>
      </div>
      
      


    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Resume Creator</h5>
            <p class="card-text fs-5">
              Created a Resume Creator to streamline professional resume building.
            </p>
            <button (click)="onReadMore()" class="btn btn-danger">Read More..</button>
          </div>
        </div>
      </div>



      <div class="col-sm-6 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Apple Clone</h5>
            <p class="card-text fs-5">
              Created an Apple Clone to showcase frontend skills. Built using the latest technologies to mimic Apple’s design.
            </p>
            <button (click)="onReadMore()" class="btn btn-danger">Read More..</button>
          </div>
        </div>
      </div>

      


</div>
  