<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Vikram</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLink="/education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLink="/techno">Technologies</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- <div class="container-fluid bg-dark text-light min-vh-100 d-flex">
  <div class="d-flex flex-column justify-content-center align-items-center text-center w-100">
    <h1>
      <span class="text-danger display-2 fw-bold">Vikram Golait</span>
    </h1>
    <div class="my-info">
      <h5>Frontend Developer</h5>
      I am a professional web developer looking for the opportunity to express my knowledge.
    </div>
    <div>
      <a class="btn btn-outline-danger mx-3 mb-3" (click)="downloadPdf()" download>Download Resume</a>
      <a [href]="whatsappMessage" class="btn btn-danger mb-3">Connect on WhatsApp</a>
    </div>
    <div class="d-flex mb-5">
      <a [href]="socialLinks.instagram" target="_blank"><img src="../../../assets/insta4.jpg" class="insta" alt="Instagram" /></a>
      <a [href]="socialLinks.whatsapp" target="_blank"><img src="../../../assets/PNG21.jpg" class="whatsapp" alt="WhatsApp" /></a>
      <a [href]="socialLinks.linkedin" target="_blank"><img src="../../../assets/linking.png" class="you" alt="LinkedIn" /></a>
    </div>
  </div>
</div> -->

